* {
    margin: 0;
    padding: 0;
}

#logoAndHeader {
    display: flex;
    justify-content: space-between;
    background-color:rgb(53, 114, 114);
    margin-bottom: 40px;
}

h1 {
    flex-grow: 1;
    margin-left: 20px;
    font-size: 2rem;
    align-self:center;
    color:azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#logoContainer {
    min-width: 100px;
    max-width: 200px;
    overflow: hidden;
    margin: 20px 0px;
}

#logo {
    width: 100%;
    height: auto;
}

#navigation {
    align-self: flex-start;
}